@import '../../styles/_variable.scss';

.auto-wrap {
    .list-wrap {
        top: 52px;

        .list-item {
            &:hover {
                background-color: #aaa;
                color: $black-text;
            }

            .icon-tick {
                width: 16px;
                height: 16px;
            }

        }
    }
}