.product-wrap {
  .grid-container {
    max-width: 395px;
  }

  .default-view-wrap {
    .btn-wrap {
      border: none;
    }
  }

  .preview-icon {
    height: 100px;
    width: 100px;

    .icon-wrap {
      width: 50%;
      height: 50%;
      flex: 1
    }

    .icon-text {
      font-size: 16px;
    }
  }

}