$grey0: #f0f0f0;
$grey2: #efeff1;
$grey9: #999;
$grey-prime: #fefefe;
$purple: #d1d8f7;
$purple: #4b6fff;

$anti-flash-white: #edf2f6;
$cultured-white: #f2f4f7;
$red: #f38689;
$black-text: #34343d;
$grey-text: #b0b9b5;
