$grey-prime: #fefefe;
$grey0: #f0f0f0;
$grey2: #efeff1;
$grey9: #999;
$purple: #d1d8f7;
$purple-dark: #4b6fff;

$white: #fff;


$anti-flash-white: #edf2f6;
$cultured-white: #f2f4f7;
$red: #f38689;
$black-text: #34343d;
$black-text-light: #48484f;
$grey-text: #b0b9b5;