.b-r0 {
    border-radius: 0;
}

.b-r0-i {
    border-radius: 0 !important; 
}

.b-r4 {
    border-radius: 4px;
}

.b-r12 {
    border-radius: 12px;
}

.b-b-1 {
    border-bottom: 1px solid;
}

.border-grey {
    border: 1px solid $grey9;
}

.border-culture-white {
    border: 1px solid $cultured-white;
}

.border-purple {
    border: 1px solid $purple;
}

.border-grey2 {
    border: 1px solid $grey2;
}