.m0 {
    margin: 0;
}

.m-b-14 {
    margin-bottom: 14px;;
}

.m-b-24 {
    margin-bottom: 24px;;
}

.m-t-14 {
    margin-top: 14px;;
}

.m-tb0 {
    margin-top: 0;
    margin-bottom: 0;
}

.m-lr6 {
    margin-left: 6px;
    margin-right: 6px;
}

.m-lr-auto {
    margin: 0 auto;
}