.p-0 {
    padding: 0;
}

.p-0-i {
    padding: 0 !important;
}

.p-4 {
    padding: 4px;
}

.p-12 {
    padding: 12px;
}

.p-16 {
    padding: 16px;
}

.p-r-4 {
    padding-right: 4px;
}

.p-tb-6 {
    padding-top: 6px;
    padding-bottom: 6px;
}

.p-lr-4 {
    padding-left: 4px;
    padding-right: 4px;
}

.p-lr-8 {
    padding-left: 8px;
    padding-right: 8px;
}

.p-lr-108 {
    padding-left: 108px;
    padding-right: 108px;
}