.text-center{
    text-align: center;
}

.text-black {
    color: $black-text;
}

.text-black-light {
    color: $black-text-light;
}

.text-grey {
    color: $grey-text
}

.text-white {
    color: $anti-flash-white;
}