@import '../../styles/variable';

.wrap {
    height: 36px;
    display: flex;
    padding: 4px 12px;
    border-radius: 4px;
    display: flex;
    align-items: center;

    input {
        background: none;
        padding: 0 12px;
        height: 100%;

    }

    &.focus {
        outline: 1px solid $purple;
        background: none;
    }

}