.production-selection-wrap {
    flex-direction: column;

    @media (min-width: 768px) {
        flex-direction: row;
    }

    max-width: 1000px;

    .dialog-wrap {
        max-width: 335px;
    }

    .right-wrap {
        max-width: 306px;

        @media (min-width: 600px) {
            max-width: 335px;
        }
    }
}